:root {
    --primary-color: #83781b;
    --secondary-color: #95b46a;
    --tertiary-color: #172815;
    --text-color-light: #f6fff6;
  }

  .EventList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }