:root {
  --primary-color: #83781b;
  --secondary-color: #617788;
  --tertiary-color: #172815;
  --text-color-light: #f6fff6;
}

.suggestions {
  z-index: 2;
  align-self: center;
  text-align: right;
  margin: 0;
  top: 43px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  text-align: right;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.CitySearch {
  position: relative;
  font-size: 16px;
}

.label {
  font-size: 15px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}

.city {
  font-size: 15px;
  margin-top: 5px;
  height: 38px;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  box-shadow: 6px 6px 10px hsla(300, 15%, 25%, 0.3) inset;
}

.city:hover {
  outline: none;
  border: 1px solid rgba(97, 119, 136, 0.8);
}

.city:focus {
  outline: none;
  border: 1px solid rgba(97, 119, 136, 0.8);
}
