.scatter-chart-container {
  position: relative;
  margin: 0;
  height: 60%;
  width: 70%;
}

.scatter-chart {
  margin: 20px 0 0 0;
}

.scatter-chart-title {
  text-align: center;
  padding-bottom: 40px;
  margin: 0;
}
