:root {
  --primary-color: #83781b;
  --secondary-color: #617788;
  --tertiary-color: #172815;
  --text-color-light: #f6fff6;
}

.number-label {
  font-size: 15px;
  margin-left: 5px;
  color: black;
  font-weight: bold;
}

.number-input {
  font-size: 15px;
  margin-top: 5px;
  height: 38px;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  box-shadow: 6px 6px 10px hsla(300, 15%, 25%, 0.3) inset;
}

.number-input:hover {
  outline: none;
  border: 1px solid rgba(97, 119, 136, 0.8);
}

.number-input:focus {
  outline: none;
  border: 1px solid rgba(97, 119, 136, 0.8);
}

.NumberOfEvents {
  position: relative;
}
