:root {
  --primary-color: #83781b;
  --secondary-color: #617788;
  --tertiary-color: #172815;
  --text-color-light: #f6fff6;
}

.number-input {
  width: 60px;
  margin-left: 95px;
}
.number-label {
  font-size: 15px;
  margin-left: 5px;
  color: black;
}

input {
  font-size: 15px;
  margin-top: 5px;
  height: 30px;
  text-indent: 10px;
  border-radius: 5px;
  display: block;
  box-shadow: 6px 6px 10px hsla(300, 15%, 25%, 0.3) inset;
  padding: 8px 6px 8px 10px;
  outline: none;
  border: 1px solid #ccc;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input:hover {
  outline: none;
  border: 1px solid rgba(241, 103, 117, 1);
}

input:focus {
  outline: none;
  border: 1px solid rgba(241, 103, 117, 1);
}

.NumberOfEvents {
  position: relative;
  width: 238px;
  min-height: 96px;
}
