:root {
  --primary-color: #83781b;
  --secondary-color: #28536b;
  --tertiary-color: #172815;
  --text-color-light: #f6fff6;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
  background-color: var(--primary-color);
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}

.city-number {
  margin: 120px 0 20px 0;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
  margin: 0;
}
.recharts-surface {
  overflow: visible;
}

.recharts-wrapper {
  min-width: 100%;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.charts-btn {
  margin: 20px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: var(--tertiary-color);
  color: var(--text-color-light);
}
.charts-btn :hover {
  opacity: 0.8;
  box-shadow: 0 0 6px #95b46a18;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    min-width: auto;
    margin: 0 auto;
  }
  .scatterchart-responsive {
    max-width: 90%;
  }
}
